/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.nav-bar {
  background-color: #000000; /* Dark background */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-logo {
  font-size: 1.5rem;
  color: white;
}

.nav-logo-link {
  color: white;
  text-decoration: none;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 15px;
  position: relative;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 25px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
  background-color: grey;
  color: black;
}

.nav-link-signup {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border-radius: 25px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link-signup:hover {
  background-color: grey;
  color: white;
}

/* Dropdown Menu Styles */
.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0a0a0a;
  padding: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-link {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-link:hover {
  background-color: grey;
  color: black;
}





